html {
    background-color: white;
    
}

body, #img {
    background-color: gray; 
    color: white; 
    font-family: 'Inter', sans-serif; 
    text-align: left; 
   
} 


header {
    margin: 0; 
    padding: 0; 
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white; 
    background-color: black;
}

#img {
    max-width: 100px;
    border: 3px solid white;
    margin-left: 20px;
    float: right;
}

nav .Résumé{
    text-decoration: underline;
    color:  #8eb48e;
}